<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ organization.title }}</title>
        <link rel="stylesheet" href="{{ config.BASE_URL }}static/css/pdf.css">
    </head>
    <body>
        <div class="container">
            <header>
                <img id="logo"
                     src="{{ config.BASE_URL }}static/img/bayanat-h-v2.png"
                     alt="">
                <div>
                    <div class="id">Organization {{ organization.id }}</div>
                </div>
            </header>
            <section>
                <dl>
                    <div>
                        <dt>Title</dt>
                        <dd>
                            {{ organization.title }}
                        </dd>
                    </div>
                    
                </dl>
            </section>
            <section>
                <h4>Description</h4>
                <div class="description">{{ organization.description|safe }}</div>
            </section>
            <section>
                <h4>Locations</h4>
                {% for location in organization.locations %}<span class="tag">{{ location.title }}</span>{% endfor %}
            </section>
            <section class="events">
                <h4>Events</h4>
                {% for event in organization.events %}
                    <table class="no-break">
                        <tr>
                            <th>Event Title</th>
                            <th colspan="2">Event Comments</th>
                        </tr>
                        <tr>
                            <td>{{ event.title }}</td>
                            <td colspan="2">{{ event.comment }}</td>
                        </tr>
                        <tr>
                            <th colspan="2">Event Location</th>
                            <th>Event Type</th>
                        </tr>
                        <tr>
                            <td colspan="2">{{ event.location.title }}</td>
                            <td>{{ event.eventtype.title }}</td>
                        </tr>
                        <tr>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Estimated?</th>
                        </tr>
                        <tr>
                            <td>{{ event.from_date.strftime("%Y-%m-%d %H:%M") if event.from_date else '' }}</td>
                            <td>{{ event.to_date.strftime("%Y-%m-%d %H:%M") if  event.to_date else '' }}</td>
                            <td>{{ event.estimated }}</td>
                        </tr>
                    </table>
                {% endfor %}
            </section>
            <section class="related">
                <h4>Related Primary Records</h4>
                <article>
                    {% for rel in organization.bulletin_relations_dict %}
                        <table class="no-break">
                            <tr>
                                <th>ID</th>
                                <th colspan="2">Title</th>
                            </tr>
                            <tr>
                                <td>{{ rel.bulletin.id }}</td>
                                <td colspan="2">{{ rel.bulletin.title }}</td>
                            </tr>
                            {#                <tr>#}
                            {#                    <th>Related as</th>#}
                            {#                    <th>Probability</th>#}
                            {#                    <th>Comment</th>#}
                            {#                </tr>#}
                            {#                <tr>#}
                            {#                    <td>{{ rel.related_as }}</td>#}
                            {#                    <td>{{ rel.probability }}</td>#}
                            {#                    <td>{{ rel.comment }}</td>#}
                            {#                </tr>#}
                        </table>
                    {% endfor %}
                </article>
            </section>
            <section class="related">
                <h4>Related Actors</h4>
                <article>
                    {% for rel in organization.actor_relations_dict %}
                        <table class="no-break">
                            <tr>
                                <th>ID</th>
                                <th colspan="2">Title</th>
                            </tr>
                            <tr>
                                <td>{{ rel.actor.id }}</td>
                                <td colspan="2">{{ rel.actor.name }}</td>
                            </tr>
                            {#                <tr>#}
                            {#                    <th>Related as</th>#}
                            {#                    <th>Probability</th>#}
                            {#                    <th>Comment</th>#}
                            {#                </tr>#}
                            {#                <tr>#}
                            {#                    <td>{{ rel.related_as }}</td>#}
                            {#                    <td>{{ rel.probability }}</td>#}
                            {#                    <td>{{ rel.comment }}</td>#}
                            {#                </tr>#}
                        </table>
                    {% endfor %}
                </article>
            </section>
            <section class="related">
                <h4>Related Investigations</h4>
                <article>
                    {% for rel in organization.incident_relations_dict %}
                        <table class="no-break">
                            <tr>
                                <th>ID</th>
                                <th colspan="2">Title</th>
                            </tr>
                            <tr>
                                <td>{{ rel.incident.id }}</td>
                                <td colspan="2">{{ rel.incident.title }}</td>
                            </tr>
                            {#                <tr>#}
                            {#                    <th>Related as</th>#}
                            {#                    <th>Probability</th>#}
                            {#                    <th>Comment</th>#}
                            {#                </tr>#}
                            {#                <tr>#}
                            {#                    <td>{{ rel.related_as }}</td>#}
                            {#                    <td>{{ rel.probability }}</td>#}
                            {#                    <td>{{ rel.comment }}</td>#}
                            {#                </tr>#}
                        </table>
                    {% endfor %}
                </article>
            </section>
            <section class="related">
                <h4>Related Organizations</h4>
                <article>
                    {% for rel in organization.organization_relations_dict %}
                        <table class="no-break">
                            <tr>
                                <th>ID</th>
                                <th colspan="2">Title</th>
                            </tr>
                            <tr>
                                <td>{{ rel.organization.id }}</td>
                                <td colspan="2">{{ rel.organization.name }}</td>
                            </tr>
                            {#                <tr>#}
                            {#                    <th>Related as</th>#}
                            {#                    <th>Probability</th>#}
                            {#                    <th>Comment</th>#}
                            {#                </tr>#}
                            {#                <tr>#}
                            {#                    <td>{{ rel.related_as }}</td>#}
                            {#                    <td>{{ rel.probability }}</td>#}
                            {#                    <td>{{ rel.comment }}</td>#}
                            {#                </tr>#}
                        </table>
                    {% endfor %}
                </article>
            </section>
        </div>
    </body>
</html>
