{% extends "layouts/layout.html" %}
{% block content %}
<v-app id="app" v-cloak>
    {% include 'components/nav-drawer.html' %}
    {% include "components/nav-bar.html" %}
    <v-main>
        <v-container fluid fill-height class="dashboard-page">
            <v-layout align-top justify-center>
                <v-row>
                    <v-col cols="12">
                        <div class="hero">
                            <v-img src="/static/img/co-hero-2.png" max-width="700" alt="Conflict observatory logo"
                                contain></v-img>
                        </div>
                        <div class="welcome-message text-subtitle-1">
                            <div class="welcome-login">
                                <span class="text-h5">{{ _("Welcome") }}, {{ g.user.username }}!</span>
                                {% if g.user.last_login_at %}
                                <span class="text-caption">{{ _("Last login") }} — {{ g.user.last_login_at.strftime('%b
                                    %d,
                                    %Y') }}</span>
                                {% endif %}
                                {% if current_user.has_role('Admin') and config.ETL_PATH_IMPORT %}
                                <v-icon>mdi-alert</v-icon>
                                Warning: Media Import's path processing is enabled!
                                {% endif %}
                            </div>
                            <p class="">
                                Conflict Observatory (CO) Bayanat is the user interface for CO researchers to input investigative data into the CAESAR
                                platform. CAESAR is a secure data repository that stores raw data in a manner that facilitates its potential use in
                                investigations of core international crimes. CAESAR provides for preservation, identification, and retrieval of pieces
                                of open source data (e.g., news reports, social media posts, photos/videos) that support the findings of the CO research
                                reports.
                            </p>
                            <p>
                                By inputting data into CAESAR you are: 1) ensuring the data underlying your research will be properly preserved for use
                                as potential evidence, and 2) facilitating the sharing of data within and between your research teams.
                            </p>
                            <p>
                                Additional analytic features and will be added to future iterations of CAESAR.
                            </p>
                        </div>
                        {% if (config.BUG_FORM) or (config.FEATURE_FORM) %}
                        <div class="feedback-area">
                            <h3>Thank you for using CAESAR. <br /> We want to hear from you.</h3>
                            <div class="reporting pt-3">
                                {% if config.BUG_FORM %}
                                <div class="">Experiencing an issue? Report it <a href="{{ config.BUG_FORM }}" target="_blank">here.</a>
                                </div>
                                {% endif %}
                                {% if config.FEATURE_FORM %}
                                <div class="">Have an idea for a feature? Submit your <a
                                        href="{{ config.FEATURE_FORM }}"  target="_blank">request</a>.
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </v-col>
                </v-row>
            </v-layout>
        </v-container>
    </v-main>
    {% include "components/footer.html" %}
</v-app>
{% endblock %}
{% block js %}
<script>
    new Vue({
        el: '#app',
        vuetify: vuetify,
        delimiters: delimiters,
        methods: {},
        data: () => ({
            search: '',
            dialog: dialog,
            drawer: drawer,
            sideNav: sideNav
        }),
    })
</script>
{% endblock %}