.search-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    h1 {
        font-family: "Roboto", sans-serif !important;
        font-size: 1.4em;
        margin-bottom: 12px;
    }
    .advanced-search {
        margin-top: -10px;
    }
}
.search-col {
    display: flex;
    flex-direction: column;
    max-width: 600px;
        width: 100%;
}
.search-row {
    display: flex;
    gap: 40px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.filter-col {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-top: 200px;
    width: 200px;
    h3 {
        border-bottom: 1px solid rgb(213, 213, 213);
        margin-bottom: 0.3em;
    }
    h4 {
        margin-top: 20px;
    }
    .v-input--selection-controls {
        margin-top: 6px;
    }
    .update-btn {
        margin-top: 30px;
    }
}
.search-results {
    width: 100%;
    .search-card {
        padding: 20px;
        margin-bottom: 10px;
        .header-row {
            display: flex;
            justify-content: space-between;
        }
        .footer-row {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            font-size: 0.9rem;
            font-style: italic;
            color: rgba(0, 0, 0, 0.8);
        }
    }
}
.result-description {
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}