<validation-observer v-slot="{ invalid} ">
    <v-dialog :retain-focus="false" no-click-animation persistent v-model="dialog" fullscreen>
        <v-card v-if="dialog" class="overflow-hidden card-edit">
            <v-app-bar absolute color="primary" dark class="card-header">
                <v-toolbar-title>${formTitle} <span class="gv--text" v-if="editedItem.id">${editedItem.id}</span>
                    <v-chip v-if="editedItem.originid" :href="editedItem.source_link" target="_blank" pill label
                        color="primary darken-1" class="white--text ml-1">
                        # ${editedItem.originid}
                    </v-chip>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn @click="save" :disabled="invalid" dark color="accent" small class="mx-2" depressed>
                    {{ _("Save Primary Record") }}
                </v-btn>
                <v-btn @click="confirmClose" icon>
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-app-bar>
            <v-sheet id="card-content" max-height="100vh" class="overflow-y-auto pt-11">
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="2" class="anchor-col">
                                <v-list shaped class="anchor-menu">
                                    <v-subheader>Primary Record</v-subheader>
                                    <v-list-item-group color="primary">
                                        <v-list-item>
                                            <v-list-item-content @click="anchorScroll('general')">
                                                <v-list-item-title>{{ _("General") }}</v-list-item-title>
                                            </v-list-item-content>
                                        </v-list-item>
                                        <v-list-item>
                                            <v-list-item-content @click="anchorScroll('tags')">
                                                <v-list-item-title>{{ _("Tags") }}</v-list-item-title>
                                            </v-list-item-content>
                                        </v-list-item>
                                        <v-list-item>
                                            <v-list-item-content @click="anchorScroll('locations')">
                                                <v-list-item-title>{{ _("Locations") }}</v-list-item-title>
                                            </v-list-item-content>
                                        </v-list-item>
                                        <v-list-item>
                                            <v-list-item-content @click="anchorScroll('events')">
                                                <v-list-item-title>{{ _("Events") }}</v-list-item-title>
                                            </v-list-item-content>
                                        </v-list-item>
                                        <v-list-item>
                                            <v-list-item-content @click="anchorScroll('media')">
                                                <v-list-item-title>{{ _("Media") }}</v-list-item-title>
                                            </v-list-item-content>
                                        </v-list-item>
                                        <v-list-item>
                                            <v-list-item-content @click="anchorScroll('data-relationships')">
                                                <v-list-item-title>{{ _("Data Relationships") }}</v-list-item-title>
                                            </v-list-item-content>
                                        </v-list-item>
                                        <v-list-item>
                                            <v-list-item-content @click="anchorScroll('data-details')">
                                                <v-list-item-title>{{ _("Data Details") }}</v-list-item-title>
                                            </v-list-item-content>
                                        </v-list-item>
                                    </v-list-item-group>
                                </v-list>
                            </v-col>
                            <v-col cols="10">
                                <!-- General -->
                                <span class="anchor" id="general"></span>
                                <h2 class="form-section-header">{{ _("General") }}</h2>
                                <v-row>
                                    <v-col cols="12" md="4">
                                        <validation-provider name="Title" rules="" v-slot="{ errors }">
                                            <v-card class="d-flex" flat>
                                                <v-tooltip top max-width=500 open-delay=1500>
                                                    <template v-slot:activator="{ on }">
                                                        <v-text-field v-if="title__" v-on="on"
                                                            v-model="editedItem.title" label="{{ _("Original Title") }}"></v-text-field>
                                                        <v-text-field v-else v-on="on" v-model="editedItem.title_ar"
                                                            label="{{ _("Original Title (AR)") }}"
                                                            background-color="lime lighten-5"></v-text-field>
                                                    </template>
                                                    <span>{{ _('Titles from sources might be edited for clarity, but the “Original Title” is retained.') }}</span>
                                                </v-tooltip>
                                                <v-btn color="grey lighten-2" outlined x-small fab class="swh d-inline"
                                                    @click="title__=!title__">
                                                    <v-icon>mdi-web</v-icon>
                                                </v-btn>
                                            </v-card>
                                            <span class="red--text">${errors[0]}</span>
                                        </validation-provider>
                                    </v-col>
                                    <v-col cols="12" md="4">
                                        <v-card class="d-flex" flat>
                                            <v-tooltip top max-width=500 open-delay=1500>
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field v-if="sjac_title__" v-on="on"
                                                        v-model="editedItem.sjac_title" label="{{ _("Title") }}">
                                                    </v-text-field>
                                                    <v-text-field v-else v-on="on" v-model="editedItem.sjac_title_ar"
                                                        label="{{ _("Title (AR)") }}"
                                                        background-color="lime lighten-5"></v-text-field>
                                                </template>
                                                <span>{{ _('Titles from sources might be edited for clarity, but the “Original Title” is retained.') }}</span>
                                            </v-tooltip>
                                            <v-btn color="grey lighten-2" outlined x-small fab class="swh d-inline"
                                                @click="sjac_title__=!sjac_title__">
                                                <v-icon>mdi-web</v-icon>
                                            </v-btn>
                                        </v-card>
                                    </v-col>
                                    <v-col cols="12" md="4">
                                        <v-combobox small-chips multiple v-model="editedItem.ref" label="{{ _("Ref") }}">
                                        </v-combobox>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" md="12">
                                        <v-tooltip top max-width=500 open-delay=1500>
                                            <template v-slot:activator="{ on }">
                                                <div v-on="on">
                                                    <search-field v-model="editedItem.sources" api="/admin/api/sources/"
                                                        item-text="title" item-value="id" :multiple="true"
                                                        label="{{ _("Sources") }}"></search-field>
                                                </div>
                                            </template>
                                            <span>{{ _('Sources are profiles of the original creators and publishers of the content of Actors and Primary Records in the database. This structure also provides easy search and filtering and prevents data entry mistakes by users.') }}</span>
                                        </v-tooltip>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12">
                                            <div class="d-flex align-center">
                                              <h3>{{ _("Description") }}</h3>
                                              <v-tooltip top max-width=500 open-delay=500>
                                                  <template v-slot:activator="{ on }">
                                                      <div v-on="on" class="ml-2 mb-1">
                                                          <v-icon>mdi-information-outline</v-icon>
                                                  </template>
                                                  <span>
                                                    {{ _('The Primary Record description should describe, in details, what happens, and what the content shows. Describe the people involved, the surrounding area, information about time and day. Be critical and only use (describe) the facts actually shown in the documentation.')}}
                                                  </span>
                                              </v-tooltip>
                                            </div>
                                            <tinymce-editor :init="tinyConfig" :key="descKey"
                                                v-model="editedItem.description"></tinymce-editor>
                                    </v-col>
                                </v-row>
                                <!-- Tags -->
                                <span class="anchor" id="tags"></span>
                                <h2 class="form-section-header">{{ _("Tags") }}</h2>
                                <v-row>
                                    <v-col cols="12" md="12">
                                        <v-tooltip top max-width=500 open-delay=1500>
                                            <template v-slot:activator="{ on }">
                                                <div v-on="on">
                                                    <search-field v-model="editedItem.labels" api="/admin/api/labels/"
                                                        :query-params="{ typ: 'for_bulletin' }" item-text="title"
                                                        item-value="id" :multiple="true" label="{{ _("Labels") }}">
                                                    </search-field>
                                                </div>
                                            </template>
                                            <span>
                                                {{ _('Labels allow for easy search and filter of the database. Labels can be created by an admin to tag the content or metadata of an item. Additionally, labels can be used for references or workflow control.')}}
                                            </span>
                                        </v-tooltip>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" md="12">
                                        <v-tooltip top max-width=500 open-delay=1500>
                                            <template v-slot:activator="{ on }">
                                                <div v-on="on">
                                                    <search-field v-model="editedItem.verLabels"
                                                        api="/admin/api/labels/"
                                                        :query-params="{ fltr: 'verified', typ: 'for_bulletin' }"
                                                        item-text="title" item-value="id" :multiple="true"
                                                        label="{{ _("Verified Labels") }}">
                                                    </search-field>
                                                </div>
                                            </template>
                                            <span>
                                                {{ _('The Verified labels are a set of neutral labels added by the data analyst based on observation and evidence found in the content. Allegations made by the source or person(s) in the content must not influence adding or not adding these labels. SJAC utilises this list of Labels to tag the reliability, priority, metadata or the verified content. The latter is utilized mainly in items with verifiable evidence like video Primary Records.') }}
                                            </span>
                                        </v-tooltip>
                                    </v-col>
                                </v-row>
                                <!-- locations -->
                                <span class="anchor" id="locations"></span>
                                <h2 class="form-section-header">{{ _("Locations") }}</h2>
                                <v-row>
                                    <v-col cols="12" md="12">
                                        <v-tooltip top max-width=500 open-delay=1500>
                                            <template v-slot:activator="{ on }">
                                                <div v-on="on">
                                                    <location-search-field v-model="editedItem.locations"
                                                        api="/admin/api/locations/" item-text="full_string"
                                                        item-value="id" :multiple="true" label="{{ _("Locations") }}">
                                                    </location-search-field>
                                                </div>
                                            </template>
                                            <span>
                                                {{ _('Locations is a central list of entries for the adminstrative centers (cities, towns, villages, etc).')}}
                                            </span>
                                        </v-tooltip>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12">
                                        <global-map :i18n="translations" ref="globalmap"
                                            :value="compLocations"></global-map>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col col="12">
                                        <v-tooltip top max-width=500 open-delay=1500>
                                            <template v-slot:activator="{ on }">
                                                <div v-on="on">
                                                    <geo-locations ref="geolocs"
                                                        @locations-updated="geoLocationsUpdated"
                                                        :others="editedItem.geoLocations" :i18n="translations"
                                                        v-model="editedItem.geoLocations"></geo-locations>
                                                </div>
                                            </template>
                                            <span>
                                                {{ _('Geo Markers are geographical markers or landmarks that help describe the Primary Record.') }}
                                            </span>
                                        </v-tooltip>
                                    </v-col>
                                </v-row>
                                <!-- events  -->
                                <span class="anchor" id="events"></span>
                                <h2 class="form-section-header">{{ _("Events") }}</h2>
                                <v-row>
                                    <v-col col="12">
                                        {% include 'views/admin/partials/event_dialog.html' %}
                                    </v-col>
                                </v-row>
                                <!-- media  -->
                                <span class="anchor" id="media"></span>
                                <h2 class="form-section-header">{{ _("Media") }}</h2>
                                <v-row>
                                    <v-col>
                                        {% include 'views/admin/partials/media_dialog.html' %}
                                    </v-col>
                                </v-row>
                                <!-- Relationships -->
                                <span class="anchor" id="data-relationships"></span>
                                <h2 class="form-section-header">{{ _("Data Relationships") }}</h2>
                                <v-row>
                                    <v-col col="12">
                                        <!-- Related actors -->
                                        <v-card outlined class="my-5">
                                            <v-card-title class="handle">
                                                <v-icon left>mdi-account-multiple</v-icon>
                                                {{ _("Related Actors") }}
                                                <v-spacer></v-spacer>
                                                <v-tooltip top max-width=500 open-delay=1500>
                                                    <template v-slot:activator="{ on }">
                                                        <v-text-field v-on="on" class="mx-5" v-model="relateActorTerm"
                                                            label="{{ _("Search & Relate Actors") }}"
                                                            @keydown.enter="searchRelatedActors"
                                                            @click:append="searchRelatedActors"
                                                            append-icon="mdi-magnify"></v-text-field>
                                                    </template>
                                                    <span>
                                                        {{ _('Actors are items of documentation about persons or bodies of interest that can be related to otherActors, Primary Records, or Investigations, usually coming from a single source. The Actor profile contains fields to identify the person or body, relate the Actor to other items in the database, add labels and create Events.') }}
                                                    </span>
                                                </v-tooltip>
                                            </v-card-title>
                                            <v-card-text>
                                                <v-layout wrap>
                                                    <v-flex class="pa-1" md6
                                                        v-for="(item,index) in editedItem.actor_relations" :key="index">
                                                        <actor-result :i18n="translations" :actor="item.actor">
                                                            <template v-slot:header>
                                                                <v-card outlined color="lime lighten-5">
                                                                    <v-card-title class="subtitle-2">
                                                                        <v-icon left>mdi-link</v-icon>
                                                                        {{ _("Relationship Information") }}
                                                                    </v-card-title>
                                                                    <v-card-text>
                                                                        <div>
                                                                            <div class="caption">{{ _("Probability") }}
                                                                            </div>
                                                                            <v-chip-group
                                                                                v-model="editedItem.actor_relations[index].probability"
                                                                                column active-class="primary dark">
                                                                                <v-chip
                                                                                    v-for="item in translations.probs"
                                                                                    small>${item.tr}
                                                                                </v-chip>
                                                                            </v-chip-group>
                                                                            <div class="caption">{{ _("Related As") }}
                                                                            </div>
                                                                            <v-chip-group
                                                                                v-model="editedItem.actor_relations[index].related_as"
                                                                                column multiple
                                                                                active-class="primary dark">
                                                                                <v-chip v-for="rel in atobInfo"
                                                                                    :value="rel.id" :key="rel.id" small>
                                                                                    ${rel.title}
                                                                                </v-chip>
                                                                            </v-chip-group>
                                                                        </div>
                                                                        <v-text-field class="mt-2"
                                                                            v-model="editedItem.actor_relations[index].comment"
                                                                            dense outlined label="{{ _("Comments") }}">
                                                                        </v-text-field>
                                                                    </v-card-text>
                                                                </v-card>
                                                            </template>
                                                            <template v-slot:actions>
                                                                <v-btn class="mx-auto"
                                                                    @click="removeActor($event,index)" x-small fab
                                                                    outlined color="red lighten-3">
                                                                    <v-icon>mdi-delete-sweep</v-icon>
                                                                </v-btn>
                                                            </template>
                                                        </actor-result>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card-text>
                                        </v-card>
                                        <!-- Related bulletins -->
                                        <v-card outlined class="my-5">
                                            <v-card-title class="handle">
                                                <v-icon left>mdi-file-document-multiple</v-icon>
                                                {{ _("Related Primary Records") }}
                                                <v-spacer></v-spacer>
                                                <v-tooltip top max-width=500 open-delay=1500>
                                                    <template v-slot:activator="{ on }">
                                                        <v-text-field v-on="on" class="mx-5"
                                                            v-model="relateBulletinTerm"
                                                            label="{{ _("Search & Relate Primary Records") }}" 
                                                            @keydown.enter="searchRelatedBulletins"
                                                            @click:append="searchRelatedBulletins"
                                                            append-icon="mdi-magnify"></v-text-field>
                                                    </template>
                                                    <span>
                                                        {{ _('A Primary Record is one piece of documentation that provides information about a specific event. Primary Records could be from almost any type of content, such as videos, audio, pictures, documents, interviews, reports, text files, etc.') }}
                                                    </span>
                                                </v-tooltip>
                                            </v-card-title>
                                            <v-card-text>
                                                <v-layout wrap>
                                                    <v-flex class="pa-1" md6
                                                        v-for="(item,index) in editedItem.bulletin_relations"
                                                        :key="index">
                                                        <!--  Related Bulletin  Card -->
                                                        <bulletin-result :i18n="translations" :bulletin="item.bulletin">
                                                            <!--  attach relationship form -->
                                                            <template v-slot:header>
                                                                <v-card outlined color="lime lighten-5">
                                                                    <v-card-title class="subtitle-2">
                                                                        <v-icon left>mdi-link</v-icon>
                                                                        {{ _("Relationship Information") }}
                                                                    </v-card-title>
                                                                    <v-card-text>
                                                                        <div>
                                                                            <div class="caption">{{ _("Probability") }}
                                                                            </div>
                                                                            <v-chip-group
                                                                                v-model="editedItem.bulletin_relations[index].probability"
                                                                                column active-class="primary dark">
                                                                                <v-chip v-for="r in translations.probs"
                                                                                    small> ${r.tr}
                                                                                </v-chip>
                                                                            </v-chip-group>
                                                                            <div class="caption">{{ _("Related As") }}
                                                                            </div>
                                                                            <v-chip-group
                                                                                v-model="editedItem.bulletin_relations[index].related_as"
                                                                                column multiple
                                                                                active-class="primary dark">
                                                                                <v-chip v-for="rel in atobInfo"
                                                                                    :value="rel.id" :key="rel.id" small>
                                                                                    ${rel.title}
                                                                                </v-chip>
                                                                            </v-chip-group>
                                                                        </div>
                                                                        <v-text-field class="mt-2"
                                                                            v-model="editedItem.bulletin_relations[index].comment"
                                                                            dense outlined label="{{ _("Comments") }}">
                                                                        </v-text-field>
                                                                    </v-card-text>
                                                                </v-card>
                                                            </template>
                                                            <template v-slot:actions>
                                                                <v-btn class="mx-auto"
                                                                    @click="removeBulletin($event,index)" x-small fab
                                                                    outlined color="red lighten-3">
                                                                    <v-icon>mdi-delete-sweep</v-icon>
                                                                </v-btn>
                                                            </template>
                                                        </bulletin-result>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card-text>
                                        </v-card>
                                        <!-- Related incidents -->
                                        <v-card outlined class="my-5">
                                            <v-card-title class="handle">
                                                <v-icon left>mdi-hazard-lights</v-icon>
                                                {{ _("Related Investigations") }}
                                                <v-spacer></v-spacer>
                                                <v-tooltip top max-width=500 open-delay=1500>
                                                    <template v-slot:activator="{ on }">
                                                        <v-text-field v-on="on" class="mx-5"
                                                            v-model="relateIncidentTerm" label="{{ _("Search & Relate
                                                            Investigations") }}" @keydown.enter="searchRelatedIncidents"
                                                            @click:append="searchRelatedIncidents"
                                                            append-icon="mdi-magnify"></v-text-field>
                                                    </template>
                                                    <span>
                                                        {{ _('Analysis of Actors and Primary Records is intended to follow a "closed universe" approach, where the only focus of the analysis is the evidence contained in each item individually and without looking for additional information outside. This approach allows for speedy initial analysis of Actors and Primary Records and prevents adding any unreliable outside information or opinions. Investigations allow for the evidence contained in individual Actors and Primary Records to be linked together and analyzed as a group.')}}
                                                    </span>
                                                </v-tooltip>
                                            </v-card-title>
                                            <v-card-text>
                                                <v-layout wrap>
                                                    <v-flex class="pa-1" md6
                                                        v-for="(item,index) in editedItem.incident_relations"
                                                        :key="index">
                                                        <!--  Related incident  Card -->
                                                        <incident-result :i18n="translations" :incident="item.incident">
                                                            <!--  attach relationship form -->
                                                            <template v-slot:header>
                                                                <v-card outlined color="lime lighten-5">
                                                                    <v-card-title class="subtitle-2">
                                                                        <v-icon left>mdi-link</v-icon>
                                                                        {{ _("Relationship Information") }}
                                                                    </v-card-title>
                                                                    <v-card-text>
                                                                        <div>
                                                                            <div class="caption">{{ _("Probability") }}
                                                                            </div>
                                                                            <v-chip-group
                                                                                v-model="editedItem.incident_relations[index].probability"
                                                                                column active-class="primary dark">
                                                                                <v-chip v-for="r in translations.probs"
                                                                                    small> ${ r.tr }
                                                                                </v-chip>
                                                                            </v-chip-group>
                                                                            <div class="caption">{{ _("Related As") }}
                                                                            </div>
                                                                            <v-chip-group
                                                                                v-model="editedItem.incident_relations[index].related_as"
                                                                                column multiple
                                                                                active-class="primary dark">
                                                                                <v-chip v-for="rel in itoaInfo"
                                                                                    :value="rel.id" :key="rel.id" small>
                                                                                    ${
                                                                                    rel.title }
                                                                                </v-chip>
                                                                            </v-chip-group>
                                                                        </div>
                                                                        <v-text-field class="mt-2"
                                                                            v-model="editedItem.incident_relations[index].comment"
                                                                            dense outlined label="{{ _("Comments") }}">
                                                                        </v-text-field>
                                                                    </v-card-text>
                                                                </v-card>
                                                            </template>
                                                            <template v-slot:actions>
                                                                <v-btn class="mx-auto"
                                                                    @click="removeIncident($event,index)" x-small fab
                                                                    outlined color="red lighten-3">
                                                                    <v-icon>mdi-delete-sweep</v-icon>
                                                                </v-btn>
                                                            </template>
                                                        </incident-result>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                </v-row>
                                <!-- Details -->
                                <span class="anchor" id="data-details"></span>
                                <h2 class="form-section-header">{{ _("Data Details") }}</h2>
                                <v-row>
                                    <v-col cols="12" md="6">
                                        <v-sheet class="d-flex align-center">
                                            <validation-provider name="Source Link"
                                                :rules="source_disabled? 'required': 'required|url'" v-slot="{errors}">
                                                <v-tooltip top max-width=500 open-delay=1500>
                                                    <template v-slot:activator="{ on }">
                                                        <div v-on="on">
                                                            <v-text-field class="mx-2" :disabled="source_disabled"
                                                                v-model="editedItem.source_link" label="{{ _("Source Link") }}">
                                                                <template #label>
                                                                    {{ _("Source Link") }}
                                                                </template>
                                                            </v-text-field>
                                                        </div>
                                                    </template>
                                                    <span>
                                                        {{ _('The URL to the original source from which the information was obtained. ‘Not Available’ checkbox can be selected if the source link is no applicable, for example if the information was obtained from an offline source. ‘Private’ slider can be used if the URL is not reachable anymore. The field validates the entry and will not accept an invalid URL.')}}
                                                    </span>
                                                </v-tooltip>
                                                <span class="red--text">${errors[0]}</span>
                                            </validation-provider>
                                            <v-checkbox small class="mx-2" label="{{ _("Not Available") }}"
                                                v-model="source_alt" small>
                                            </v-checkbox>
                                            <v-switch small class="mx-2" label="{{ _("Private") }}"
                                                v-model="editedItem.source_link_type" small>
                                            </v-switch>
                                        </v-sheet>
                                        <v-sheet class="d-flex align-center mb-4">
                                          <v-tooltip top max-width=500 open-delay=1500>
                                            <template v-slot:activator="{ on }">
                                              <v-text-field v-on="on" v-model="editedItem.discovery_file_name" class="mx-2"
                                                label="{{ _("Discovery File name") }}"></v-text-field>
                                            </template>
                                            <span>{{ _('Name of the Hunchly/WebRecorder/RecRoom file from which data item was extracted') }}</span>
                                          </v-tooltip>
                                        </v-sheet>
                                    </v-col>
                                    <v-col cols="12" md="3">
                                        <pop-date-time-field time-label="{{ _("Time (UTC)") }}"
                                            label="{{ _("Publish Date") }}" v-model="editedItem.publish_date">
                                        </pop-date-time-field>
                                    </v-col>
                                    <v-col cols="12" md="3">
                                        <pop-date-time-field time-label="{{ _("Time (UTC)") }}"
                                            label="{{ _("Date Created") }}"
                                            v-model="editedItem.documentation_date">
                                        </pop-date-time-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" md="8">
                                        <validation-provider name="Comments" rules="required" v-slot="{ errors }">
                                            <v-textarea outlined rows="7" v-model="editedItem.comments">
                                                <template #label>
                                                    {{ _("Comments") }} <span
                                                        class="red--text"><strong>*</strong></span>
                                                </template>
                                            </v-textarea>
                                            <span class="red--text">${errors[0]}</span>
                                        </validation-provider>
                                    </v-col>
                                    <v-col cols="12" md="4">
                                        <v-select :disabled="statusDisabled" item-text="tr" item-value="en"
                                            :items="statusItems" v-model="editedItem.status" label="{{ _("Status") }}">
                                        </v-select>
                                        <v-autocomplete v-if="statusForbidsAssignment" label="{{ _("Assigned To") }}"
                                            :disabled="true" prepend-inner-icon="mdi-magnify"
                                            item-color="secondary"></v-autocomplete>
                                        <validation-provider v-else-if="statusRequiresAssignment" name="Assigned To"
                                            rules="required" v-slot="{ errors }">
                                            <v-autocomplete :value="editedItem.assigned_to" @input="assignItemByUserId"
                                                label="{{ _("Assigned To") }}" :items="users" item-text="name"
                                                item-value="id" :disabled="false" prepend-inner-icon="mdi-magnify"
                                                hide-no-data no-filter small-chips clearable :return-object="false"
                                                item-color="secondary"></v-autocomplete>
                                            <span class="red--text">${errors[0]}</span>
                                        </validation-provider>
                                        <v-autocomplete v-else :value="editedItem.assigned_to"
                                            @input="assignItemByUserId" label="{{ _("Assigned To") }}" :items="users"
                                            item-text="name" item-value="id" :disabled="false"
                                            prepend-inner-icon="mdi-magnify" hide-no-data no-filter small-chips
                                            clearable :return-object="false" item-color="secondary"></v-autocomplete>
                                        <search-field
                                            v-if="has_role(currentUser, 'Mod') || has_role(currentUser, 'DA')"
                                            api="/admin/api/roles/?custom=true&my_roles_only=true"
                                            item-text="name"
                                            item-value="id"
                                            :multiple="true" label="{{ _("Access Roles") }}" v-model="editedItem.roles">
                                        </search-field>
                                        <search-field
                                            v-else-if="has_role(currentUser, 'Admin')"
                                            api="/admin/api/roles/?custom=true"
                                            item-text="name"
                                            item-value="id"
                                            :multiple="true" label="{{ _("Access Roles") }}" v-model="editedItem.roles">
                                        </search-field>
                                    </v-col>
                                </v-row>
                                <v-row v-if="editedItem.review">
                                    <v-col cols="12" md="12">
                                        <v-card color="light-green lighten-5" elevation="0">
                                            <v-card-title class="subtitle-2">Review</v-card-title>
                                            <v-card-text>
                                                <p v-html="editedItem.review"></p>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
            </v-sheet>
        </v-card>
    </v-dialog>
</validation-observer>