<v-dialog v-model="eventDialog" max-width="850px">
    <template v-slot:activator="{ on }">
        <div>
            {% if data_type == "actor" or data_type == "organization" %}
            <span class="anchor" id="locations-of-reported-activity"></span>
            {% else %}
            <span class="anchor" id="events"></span>
            {% endif %}
            <v-tooltip top max-width=500 open-delay=1500>
                <template v-slot:activator="{ on }">
                    <span v-on="on">
                        {% if data_type == "actor" or data_type == "organization" %}
                        <h3 class="mb-2">{{ _("Locations of Reported Activity") }}</h3>
                        {% else %}
                        <h2 class="form-section-header">{{ _("Events") }}</h2>
                        {% endif %}
                    </span>
                </template>
                <span>
                    {% if data_type == "actor" or data_type == "organization" %}
                    {{ _('Location is where the event is identfied as having occurred. The locations can be selected
                    with varying levels of specificity. Select the most localized options possible (e.g., village
                    name versus oblast if it is available).') }}
                    {% else %}
                    {{ _('Events are data forms to store time and location information related to events recounted
                    in the Primary Record piece of data. Users can attach one or more events.') }}
                    {% endif %}
                </span>
            </v-tooltip>
            <v-btn v-on="on" color="primary" small><v-icon dense>mdi-plus</v-icon></v-btn>
        </div>
        <div class="mt-2">
            <v-layout wrap>
                <v-flex md6 v-for="(item,index) in editedItem.events" :key="index">
                    <event-card :number="index+1" :event="item">
                        <template v-slot:actions>
                            <v-card-actions>
                                <v-btn @click="editEvent($event,item,index)" x-small fab outlined
                                    color="grey lighten-1"><v-icon>mdi-pencil</v-icon></v-btn>
                                <v-btn @click="removeEvent($event,index)" x-small fab outlined
                                    color="red lighten-3"><v-icon>mdi-delete-sweep</v-icon></v-btn>
                            </v-card-actions>
                        </template>
                    </event-card>
                </v-flex>
            </v-layout>
        </div>
    </template>
    <validation-observer v-slot="{invalid}">
        <v-card>
            <v-card-title>
                <span class="headline">
                    {% if data_type == "actor" or data_type == "organization" %}
                    {{ _("Location of Reported Activity") }}
                    {% else %}
                    {{ _("Event") }}
                    {% endif %}
                </span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" md="12">
                            <v-card class="d-flex" flat>
                                <div style="flex:auto" v-if="eventTitle__">
                                    <validation-provider name="Title"
                                        :rules="{oneIsNullTitle: [editedEvent.title_ar, eventDialog]}"
                                        v-slot="{errors}">
                                        <v-text-field v-model="editedEvent.title">
                                            <template #label>
                                                {{ _("Title") }} <span class="red--text"><strong>*</strong></span>
                                            </template>
                                        </v-text-field>
                                        <span class="red--text">${errors[0]}</span>
                                    </validation-provider>
                                </div>

                                <div style="flex:auto" v-else>
                                    <validation-provider name="Title (Original Language)"
                                        :rules="{oneIsNullTitle: [editedEvent.title, eventDialog]}" v-slot="{errors}">
                                        <v-text-field v-model="editedEvent.title_ar">
                                            <template #label>
                                                {{ _("Title (Original Language)") }} <span
                                                    class="red--text"><strong>*</strong></span>
                                            </template>
                                        </v-text-field>
                                        <span class="red--text">${errors[0]}</span>
                                    </validation-provider>
                                </div>
                                <v-btn color="grey lighten-2" outlined x-small fab class="swh d-inline"
                                    @click="eventTitle__=!eventTitle__"><v-icon>mdi-web</v-icon></v-btn>
                            </v-card>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            <location-search-field v-model="editedEvent.location" api="/admin/api/locations/"
                                item-text="full_string" item-value="id" :multiple="false"
                                label="{{ _('Location') }}"></location-search-field>
                        </v-col>
                        <!-- <v-col md="4">
                            <search-field v-model="editedEvent.eventtype" api="/admin/api/eventtypes/"
                                :query-params="eventParams" item-text="title" item-value="id" :multiple="false"
                                label="{{ _('Event Type') }}"></search-field>
                        </v-col> -->
                    </v-row>
                    <v-row>
                        <v-col cols="12" md="3" class="text-center">
                            <pop-date-field time-label="{{ _('Time') }}" label="{{ _('From') }}"
                                v-model="editedEvent.from_date"></pop-date-field>
                        </v-col>
                        <v-col cols="12" md="2" class="text-center">
                            <v-text-field v-model="editedEvent.from_time" type="time" label="{{ _('Time (UTC)') }}"></v-text-field>
                        </v-col>
                        <v-col cols="12" md="3">
                            <pop-date-field time-label="{{ _('Time') }}" label="{{ _('To') }}"
                            v-model="editedEvent.to_date"></pop-date-field>
                        </v-col>
                        <v-col cols="12" md="2" class="text-center">
                            <v-text-field v-model="editedEvent.to_time" type="time" label="{{ _('Time (UTC)') }}"></v-text-field>
                        </v-col>
                        <v-col cols="12" md="3">
                            <v-switch label="{{ _('Estimated Time') }}" v-model="editedEvent.estimated"></v-switch>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" md="12">
                            <v-textarea outlined rows="7" v-model="editedEvent.comments">
                                <template #label>
                                    {% if data_type == "actor" or data_type == "organization" %}
                                        {{ _("Notes") }}
                                    {% else %}
                                        {{ _("Description of Event") }}
                                    {% endif %}
                                </template>
                            </v-textarea>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn text @click="closeEvent">{{ _("Close") }}</v-btn>
                <v-btn :disabled="invalid" color="accent" text @click="saveEvent">{{ _("Save") }}</v-btn>
            </v-card-actions>
        </v-card>
    </validation-observer>
</v-dialog>
