<v-dialog v-model="mediaDialog" max-width="500px">
    <template v-slot:activator="{ on }">
        <div>
            <span class="anchor" id="media"></span>
            <h2 class="form-section-header">{{ _("Media") }}</h2>
            <div>
                <v-btn @click="addMedia" color="primary" small><v-icon dense>mdi-plus</v-icon></v-btn>
                <span class="ml-2 font-italic">
                    {% if data_type == 'actor' %}
                    {{ _("Photos or Videos of Actor") }}
                    {% else %}
                    {{ _("Upload Data File") }}
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="mt-2">
            <v-layout wrap>
                <v-flex class="pa-2" md3 v-for="(item,index) in editedItem.medias" :key="index">
                    <media-card conf="simple" @thumb-click="viewImage" @video-click="viewPlayer" :media="item" :key="index+editedItem.medias.length">
                        <template v-slot:actions>
                            <v-spacer></v-spacer>
                            <v-btn v-if="!item.main" @click="removeMedia($event,index)" x-small depressed fab outlined color="red lighten-1">
                                <v-icon>mdi-delete-sweep</v-icon>
                            </v-btn>
                        </template>
                    </media-card>
                </v-flex>
            </v-layout>
        </div>
    </template>
    <v-card>
        <v-card-title>
            <span class="headline">
                {% if data_type == 'actor' %}
                {{ _("Photo or Video of Actor") }}
                {% else %}
                {{ _("Upload Data File") }}
                {% endif %}
            </span>
        </v-card-title>
        <v-card-text>
            <v-container>
                <v-row>
                    <v-col cols="12">
                        <vue-dropzone ref="dropzone" id="dropzone" :options="dzOpts" @vdropzone-error="showError" @vdropzone-removed-file="fileRemoved" @vdropzone-file-added="fileAdded" @vdropzone-success="uploadSuccess" @vdropzone-sending="fileSending"></vue-dropzone>
                        <span>Supported formats: .mp4, .webm, .jpeg, .jpg, .gif, .png, .pdf, .doc, .txt</span>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" md="6">
                        <v-card class="d-flex" flat>
                            <v-text-field v-if="mediaTitle__" v-model="editedMedia.title" label="Title"></v-text-field>
                            <v-text-field v-else v-model="editedMedia.title_ar" label="Title (Original Language)" background-color="lime lighten-5"></v-text-field>
                            <v-btn color="grey lighten-2" outlined x-small fab class="swh d-inline" @click="mediaTitle__=!mediaTitle__">
                                <v-icon>mdi-web</v-icon>
                            </v-btn>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-card class="d-flex" flat>
                            <search-field label="Media Category" api="/admin/api/mediacategories" v-model="editedMedia.category" item-text="title" item-value="id" :return-object="false">
                            </search-field>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-card class="d-flex" flat>
                            <v-checkbox v-model="editedMedia.isBlur" label="Graphic (will blur image)"></v-checkbox>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row></v-row>
            </v-container>
        </v-card-text>
        <v-card-actions class="pa-5">
            <v-spacer></v-spacer>
            <v-btn color="grey" text @click="closeMedia">Cancel</v-btn>
            <v-btn color="primary"  :disabled="!enableAttach"  @click="attachMedia">Attach Media
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>
