{% set data_type = 'organization' %}
<validation-observer v-slot="{ invalid} ">
  <v-dialog :retain-focus="false" no-click-animation persistent v-model="dialog" fullscreen>
    <v-card v-if="dialog" class="overflow-hidden card-edit">
      <v-app-bar absolute color="primary" dark class="card-header">
        <v-toolbar-title>${formTitle} <span class="gv--text" v-if="editedItem.id">${editedItem.id}</span>
          <v-chip v-if="editedItem.originid" :href="editedItem.source_link" target="_blank" pill label
            color="primary darken-1" class="white--text ml-1">
            # ${editedItem.originid}
          </v-chip>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn @click="save" :disabled="invalid" dark color="accent" small class="mx-2" depressed>
          {{ _("Save Organization") }}
        </v-btn>
        <v-btn @click="confirmClose" icon>
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-app-bar>
      <v-sheet id="card-content" max-height="100vh" class="overflow-y-auto pt-11">
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="2" class="anchor-col">
                <v-list shaped class="anchor-menu">
                  <v-subheader>Organization</v-subheader>
                  <v-list-item-group color="primary">
                    <v-list-item>
                      <v-list-item-content @click="anchorScroll('general')">
                        <v-list-item-title>{{ _("General") }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content @click="anchorScroll('location')">
                        <v-list-item-title>{{ _("Location") }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content @click="anchorScroll('alias')">
                        <v-list-item-title>{{ _("Aliases") }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content @click="anchorScroll('roles')">
                        <v-list-item-title>{{ _("Roles") }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content @click="anchorScroll('data-relationships')">
                        <v-list-item-title>{{ _("Data Relationships") }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content @click="anchorScroll('administrative-information')">
                        <v-list-item-title>{{ _("Administrative Information") }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-col>
              <v-col cols="10">
                <!-- General -->
                <span class="anchor" id="general"></span>
                <h2 class="form-section-header">{{ _("General") }}</h2>
                <v-row>
                  <v-col cols="12" md="6">
                    <validation-provider name="Name" rules="" v-slot="{ errors }">
                      <v-card class="d-flex" flat>
                        <v-tooltip top max-width=500 open-delay=1500>
                          <template v-slot:activator="{ on }">
                            <v-text-field v-if="name__" v-on="on"
                              v-model="editedItem.name"
                              label="{{ _('Original Name')}}"></v-text-field>
                            <v-text-field v-else v-on="on" v-model="editedItem.name_ar"
                              label="{{ _('Original name (Original Language)') }}"
                              background-color="lime lighten-5"></v-text-field>
                          </template>
                          <span>{{ _('Name as it appears in the source.') }}</span>
                        </v-tooltip>
                        <v-btn color="grey lighten-2" outlined x-small fab class="swh d-inline"
                          @click="name__=!name__">
                          <v-icon>mdi-web</v-icon>
                        </v-btn>
                      </v-card>
                      <span class="red--text">${errors[0]}</span>
                    </validation-provider>
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-tooltip top max-width=500 open-delay=1500>
                      <template v-slot:activator="{ on }">
                        <v-select v-on="on" v-model="editedItem.type" :items=['Test']
                          label="{{ _('Type') }}"></v-select>
                      </template>
                      <span>{{ _('The type of organization') }}</span>
                    </v-tooltip>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="6">
                    <pop-date-field label="{{ _('Founded Date') }}"
                      v-model="editedItem.founded_date">
                    </pop-date-field>
                  </v-col>
                  <!-- <v-col cols="12" md="6"> -->
                  <!--   <pop-date-field label="{{ _('Status') }}" -->
                  <!--     v-model="editedItem.status"> -->
                  <!--   </pop-date-field> -->
                  <!-- </v-col> -->
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <div class="d-flex align-center">
                      <h3>{{ _("Description") }}</h3>
                      <v-tooltip top max-width=500 open-delay=500>
                        <template v-slot:activator="{ on }">
                          <div v-on="on" class="ml-2 mb-2">
                            <v-icon small>mdi-information-outline</v-icon>
                        </template>
                        <span>
                          {{ _('The Description for the organization')}}
                        </span>
                      </v-tooltip>
                    </div>
                    <tinymce-editor :init="tinyConfig" v-model="editedItem.description"></tinymce-editor>
                  </v-col>
                </v-row>
                <!--Aliases-->
                <span class="anchor" id="aliases"></span>
                <h2 class="form-section-header">{{ _("Aliases") }}</h2>
                <v-row v-for="(alias, index) in editedItem.aliases" align="center" justify="center">
                  <v-col>
                    <v-text-field v-model="alias.name" hide-details placeholder="name"
                      label="{{ _('Alias Name') }}"></v-text-field>
                  </v-col>
                  
                  <v-col cols="1" class="mt-3">
                    <v-btn @click="editedItem.aliases.splice(index, 1)" color="error" small> <v-icon
                      dense>mdi-alpha-x-circle-outline</v-icon> </v-btn>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="12">
                    <v-btn @click="addAlias" :disabled="isLastAliasEmpty()" color="primary"
                      small><v-icon dense>mdi-plus</v-icon></v-btn>
                    <i v-if="editedItem.aliases?.length <= 0" class="ml-2">Add Aliases for this organization.</i>
                  </v-col>
                </v-row>
                <!-- Social Media -->
                <span class="anchor" id="social-media"></span>
                <h2 class="form-section-header">{{ _("Social Media") }}</h2>
                <v-row v-for="(handle, index) in editedItem.social_media_handles" align="center"
                  justify="center">
                  <v-col>
                    <v-select v-if="handle.platform" v-model="handle.platform.id" hide-details
                      :items="socialMediaPlatforms" item-text="title" item-value="id"
                      label="{{ _('Platform') }}"></v-select>
                    <v-select v-else v-model="handle.platform_id" hide-details
                      :items="socialMediaPlatforms" item-text="title" item-value="id"
                      label="{{ _('Platform') }}"></v-select>
                  </v-col>
                  <v-col>
                    <v-text-field v-model="handle.handle_name" hide-details placeholder="@handle"
                      label="{{ _('Handle') }}"></v-text-field>
                  </v-col>
                  <v-col cols="1" class="mt-3">
                    <v-btn @click="editedItem.social_media_handles.splice(index, 1)" color="error"
                      small> <v-icon dense>mdi-alpha-x-circle-outline</v-icon> </v-btn>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="12">
                    <v-btn @click="addSocialMediaHandle" :disabled="isLastSocialMediaHandleEmpty()"
                      color="primary" small><v-icon dense>mdi-plus</v-icon></v-btn>
                    <i v-if="editedItem.social_media_handles?.length <= 0" class="ml-2">Add Social Media for this organization.</i>
                  </v-col>
                </v-row>
                <!-- Roles -->
                <span class="anchor" id="roles"></span>
                <h2 class="form-section-header">{{ _("Roles") }}</h2>
                <v-row v-for="(role, index) in editedItem.roles_within" align="center"
                  justify="center">
                  <v-col>
                    <span> ${role.title} </span>
                  </v-col>
                  <v-col class="mt-3">
                    <v-btn @click="editRoleWithin(role, index)" color="primary" small><v-icon dense>mdi-pencil-outline</v-icon></v-btn>
                  </v-col>
                  <v-col cols="1" class="mt-3">
                    <v-btn @click="editedItem.roles_within.splice(index, 1)" color="error"
                      small> <v-icon dense>mdi-alpha-x-circle-outline</v-icon> </v-btn>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="12">
                    <v-btn @click="openNewRoleWithinDialog()" color="primary" small><v-icon dense>mdi-plus</v-icon></v-btn>
                    <i v-if="editedItem.roles_within?.length <= 0" class="ml-2">Create a role within this organization. Note: actors can be associated with a role</i>

                  </v-col>
                </v-row>
                <v-dialog v-model="rolesWithinDialog" max-width="900">
                  <v-card class="pa-5">
                    <v-card-title v-if="editedRoleIndex == -1">{{ _("New role") }}</v-card-title>
                    <v-card-title v-else> {{ _("Editing Role ")}} ${editedRole.title} </v-card-title>
                    <v-card-text>
                      <v-row>
                        <v-col cols="12" md="12">
                          <v-text-field v-model="editedRole.title" label="{{ _('Title') }}"></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" md="12">
                          <v-select v-model="editedRole.reports_to_id" :items="reportsToChoices" item-text="title"
                            item-value="id" 
                            label="{{ _('Reports to') }}"></v-select>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" md="6">
                          <pop-date-field label="{{ _('From') }}"
                            v-model="editedRole.from_date">
                          </pop-date-field>
                        </v-col>
                        <v-col cols="12" md="6">
                          <pop-date-field label="{{ _('To') }}"
                            v-model="editedRole.to_date">
                          </pop-date-field>
                        </v-col>
                      </v-row>
                      <v-row> 
                        <h2>{{ _("Held By") }}</h2>
                      </v-row>
                      <v-row>
                        <v-divider></v-divider>
                      </v-row>
                      <v-row v-for="(actor, index) in editedRole.actors" justify="center">
                        <v-col>
                          <!-- TODO: change items to actor choices -->
                          <v-autocomplete v-model="actor.actor_id" :items="actorChoices" item-text="name" item-value="id"
                            label="{{ _('Actor') }}" hide-details></v-autocomplete>
                        </v-col>
                        <v-col>
                          <pop-date-field label="{{ _('From') }}"
                            v-model="actor.from_date"></pop-date-field>
                        </v-col>
                        <v-col>
                          <pop-date-field label="{{ _('To') }}" :disabled="actor.currently_active"
                            v-model="actor.to_date"></pop-date-field>
                        </v-col>
                        <v-col>
                          <v-checkbox 
                            v-model="actor.currently_active" 
                            label="{{ _('Currently Active') }}"
                            @change="actor.to_date = null"
                          ></v-checkbox>
                        </v-col>
                        <v-col cols="1" class="mt-3">
                          <v-btn @click="editedRole.actors.splice(index, 1)" color="error"
                            small> <v-icon dense>mdi-alpha-x-circle-outline</v-icon> </v-btn>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" md="12">
                          <v-btn 
                            @click="addActorToEditedRole"
                            color="primary" 
                            small
                            :disabled="isLastActorEmptyInRoleWithin"
                          >
                            <v-icon dense>mdi-plus</v-icon>
                          </v-btn>
                          <span> Add actors who have served or are serving this role </span>
                        </v-col>
                      </v-row>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer> </v-spacer>
                      <v-btn @click="rolesWithinDialog = false" text> {{ _("Cancel") }} </v-btn>
                      <v-btn v-if="editedRoleIndex >= 0" @click="saveRoleWithin()" color="primary"> {{ _("Save")}} </v-btn>
                      <v-btn v-else @click="addRoleWithin" color="primary"> {{ _("Add") }} </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <!-- Locations -->
                <span class="anchor" id="locations"></span>
                <h2 class="form-section-header">{{ _("Locations") }}</h2>
                <h3></h3>
                <v-row>
                  <v-col cols="12" md="12">
                    <location-search-field v-model="editedItem.locations"
                      api="/admin/api/locations/" item-text="full_string"
                      item-value="id" :multiple="true" label="{{ _('Locations') }}"></location-search-field>
                  </v-col>
                </v-row>

                <!-- events  -->
                <v-row>
                  <v-col col="12">{% include 'views/admin/partials/event_dialog.html' %}</v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <global-map :i18n="translations" ref="globalmap" :value="compLocations"></global-map>
                  </v-col>
                </v-row>
                <!-- Relationships -->
                <span class="anchor" id="data-relationships"></span>
                <h2 class="form-section-header">{{ _("Data Relationships") }}</h2>
                <v-row>
                  <v-col col="12">
                    <!-- Related actors -->
                    <v-card outlined class="my-5">
                      <v-card-title class="handle">
                        <v-icon left>mdi-account-multiple</v-icon>
                        {{ _("Related Actors") }}
                        <v-spacer></v-spacer>
                        <v-tooltip top max-width=500 open-delay=1500>
                          <template v-slot:activator="{ on }">
                            <v-text-field v-on="on" class="mx-5 search-relate" v-model="relateActorTerm"
                              label="{{ _('Search & Relate Actors') }}"
                              @keydown.enter="searchRelatedActors"
                              @click:append="searchRelatedActors"
                              append-icon="mdi-magnify"></v-text-field>
                          </template>
                          <span>
                            {{ _('Actors are items of documentation about persons of
                            interest that can be related to other Actors, Primary Records,
                            or Investigations. The Actor profile contains fields to identify
                            the person and relate the Actor to other items in the
                            database.') }}
                          </span>
                        </v-tooltip>
                      </v-card-title>
                      <v-card-text>
                        <v-layout wrap>
                          <v-flex class="pa-1" md6
                            v-for="(item,index) in editedItem.actor_relations" :key="index">
                            <actor-result :i18n="translations" :actor="item.actor">
                              <template v-slot:header>
                                <v-card outlined color="lime lighten-5">
                                  <v-card-title class="subtitle-2">
                                    <v-icon left>mdi-link</v-icon>
                                    {{ _("Relationship Information") }}
                                  </v-card-title>
                                  <v-card-text>
                                    <div>
                                      <div class="caption">{{ _("Probability") }}
                                      </div>
                                      <v-chip-group
                                        v-model="editedItem.actor_relations[index].probability"
                                        column active-class="primary dark">
                                        <v-chip
                                          v-for="item in translations.probs"
                                          small>${item.tr}
                                        </v-chip>
                                      </v-chip-group>
                                      <div class="caption">{{ _("Related As") }}
                                      </div>
                                      <v-chip-group
                                        v-model="editedItem.actor_relations[index].related_as"
                                        column multiple
                                        active-class="primary dark">
                                        <v-chip v-for="rel in otoaInfo"
                                          :value="rel.id" :key="rel.id" small>
                                          ${rel.title}
                                        </v-chip>
                                      </v-chip-group>
                                    </div>
                                    <v-text-field class="mt-2"
                                      v-model="editedItem.actor_relations[index].comment"
                                      dense outlined label="{{ _('Comments') }}">
                                    </v-text-field>
                                  </v-card-text>
                                </v-card>
                              </template>
                              <template v-slot:actions>
                                <v-btn class="mx-auto"
                                  @click="removeActor($event,index)" x-small fab
                                  outlined color="red lighten-3">
                                  <v-icon>mdi-delete-sweep</v-icon>
                                </v-btn>
                              </template>
                            </actor-result>
                          </v-flex>
                        </v-layout>
                      </v-card-text>
                    </v-card>
                    <!-- Related bulletins -->
                    <v-card outlined class="my-5">
                      <v-card-title class="handle">
                        <v-icon left>mdi-file-document-multiple</v-icon>
                        {{ _("Related Primary Records") }}
                        <v-spacer></v-spacer>
                        <v-tooltip top max-width=500 open-delay=1500>
                          <template v-slot:activator="{ on }">
                            <v-text-field v-on="on" class="mx-5 search-relate"
                              v-model="relateBulletinTerm"
                              label="{{ _('Search & Relate Primary Records') }}"
                              @keydown.enter="searchRelatedBulletins"
                              @click:append="searchRelatedBulletins"
                              append-icon="mdi-magnify"></v-text-field>
                          </template>
                          <span>
                            {{ _('A Primary Record is one piece of documentation that may
                            provide data about events, actors, or context. Primary Records
                            could be from almost any type of content, such as videos, audio,
                            pictures, documents, interviews, reports, text files, etc.') }}
                          </span>
                        </v-tooltip>
                      </v-card-title>
                      <v-card-text>
                        <v-layout wrap>
                          <v-flex class="pa-1" md6
                            v-for="(item,index) in editedItem.bulletin_relations"
                            :key="index">
                            <!--  Related Bulletin  Card -->
                            <bulletin-result :i18n="translations" :bulletin="item.bulletin">
                              <!--  attach relationship form -->
                              <template v-slot:header>
                                <v-card outlined color="lime lighten-5">
                                  <v-card-title class="subtitle-2">
                                    <v-icon left>mdi-link</v-icon>
                                    {{ _("Relationship Information") }}
                                  </v-card-title>
                                  <v-card-text>
                                    <div>
                                      <div class="caption">{{ _("Probability") }}
                                      </div>
                                      <v-chip-group
                                        v-model="editedItem.bulletin_relations[index].probability"
                                        column active-class="primary dark">
                                        <v-chip v-for="r in translations.probs"
                                          small> ${r.tr}
                                        </v-chip>
                                      </v-chip-group>
                                      <div class="caption">{{ _("Related As") }}
                                      </div>
                                      <v-chip-group
                                        v-model="editedItem.bulletin_relations[index].related_as"
                                        column multiple
                                        active-class="primary dark">
                                        <v-chip v-for="rel in otobInfo"
                                          :value="rel.id" :key="rel.id" small>
                                          ${rel.title}
                                        </v-chip>
                                      </v-chip-group>
                                    </div>
                                    <v-text-field class="mt-2"
                                      v-model="editedItem.bulletin_relations[index].comment"
                                      dense outlined label="{{ _('Comments') }}">
                                    </v-text-field>
                                  </v-card-text>
                                </v-card>
                              </template>
                              <template v-slot:actions>
                                <v-btn class="mx-auto"
                                  @click="removeBulletin($event,index)" x-small fab
                                  outlined color="red lighten-3">
                                  <v-icon>mdi-delete-sweep</v-icon>
                                </v-btn>
                              </template>
                            </bulletin-result>
                          </v-flex>
                        </v-layout>
                      </v-card-text>
                    </v-card>
                    <!-- Related organizations -->
                    <v-card outlined class="my-5">
                      <v-card-title class="handle">
                        <v-icon left>mdi-file-document-multiple</v-icon>
                        {{ _("Related Organizations") }}
                        <v-spacer></v-spacer>
                        <v-tooltip top max-width=500 open-delay=1500>
                          <template v-slot:activator="{ on }">
                            <v-text-field v-on="on" class="mx-5 search-relate"
                              v-model="relateOrganizationTerm"
                              label="{{ _('Search & Relate Organizations') }}"
                              @keydown.enter="searchRelatedOrganizations"
                              @click:append="searchRelatedOrganizations"
                              append-icon="mdi-magnify"></v-text-field>
                          </template>
                          <span>
                            {{ _('A Primary Record is one piece of documentation that may
                            provide data about events, actors, or context. Primary Records
                            could be from almost any type of content, such as videos, audio,
                            pictures, documents, interviews, reports, text files, etc.') }}
                          </span>
                        </v-tooltip>
                      </v-card-title>
                      <v-card-text>
                        <v-layout wrap>
                          <v-flex class="pa-1" md6
                            v-for="(item,index) in editedItem.organization_relations"
                            :key="index">
                            <!--  Related Organization  Card -->
                            <organization-result :i18n="translations" :organization="item.organization">
                              <!--  attach relationship form -->
                              <template v-slot:header>
                                <v-card outlined color="lime lighten-5">
                                  <v-card-title class="subtitle-2">
                                    <v-icon left>mdi-link</v-icon>
                                    {{ _("Relationship Information") }}
                                  </v-card-title>
                                  <v-card-text>
                                    <div>
                                      <div class="caption">{{ _("Probability") }}
                                      </div>
                                      <v-chip-group
                                        v-model="editedItem.organization_relations[index].probability"
                                        column active-class="primary dark">
                                        <v-chip v-for="r in translations.probs"
                                          small> ${r.tr}
                                        </v-chip>
                                      </v-chip-group>
                                      <div class="caption">{{ _("Related As") }}
                                      </div>
                                      <v-chip-group
                                        v-model="editedItem.organization_relations[index].related_as"
                                        column multiple
                                        active-class="primary dark">
                                        <v-chip v-for="rel in otooInfo"
                                          :value="rel.id" :key="rel.id" small>
                                          ${rel.title}
                                        </v-chip>
                                      </v-chip-group>
                                    </div>
                                    <v-text-field class="mt-2"
                                      v-model="editedItem.organization_relations[index].comment"
                                      dense outlined label="{{ _('Comments') }}">
                                    </v-text-field>
                                  </v-card-text>
                                </v-card>
                              </template>
                              <template v-slot:actions>
                                <v-btn class="mx-auto"
                                  @click="removeOrganization($event,index)" x-small fab
                                  outlined color="red lighten-3">
                                  <v-icon>mdi-delete-sweep</v-icon>
                                </v-btn>
                              </template>
                            </organization-result>
                          </v-flex>
                        </v-layout>
                      </v-card-text>
                    </v-card>
                    <!-- Related incidents -->
                    <v-card outlined class="my-5">
                      <v-card-title class="handle">
                        <v-icon left>mdi-hazard-lights</v-icon>
                        {{ _("Related Investigations") }}
                        <v-spacer></v-spacer>
                        <v-tooltip top max-width=500 open-delay=1500>
                          <template v-slot:activator="{ on }">
                            <v-text-field v-on="on" class="mx-5 search-relate"
                              v-model="relateIncidentTerm"
                              label="{{ _('Search & Relate Investigations') }}"
                              @keydown.enter="searchRelatedIncidents"
                              @click:append="searchRelatedIncidents"
                              append-icon="mdi-magnify"></v-text-field>
                          </template>
                          <span>
                            {{ _('Investigations allow for the evidence contained in
                            individual Actors and Primary Records to be linked together and
                            analyzed as a group.')}}
                          </span>
                        </v-tooltip>
                      </v-card-title>
                      <v-card-text>
                        <v-layout wrap>
                          <v-flex class="pa-1" md6
                            v-for="(item,index) in editedItem.incident_relations"
                            :key="index">
                            <!--  Related incident  Card -->
                            <incident-result :i18n="translations" :incident="item.incident">
                              <!--  attach relationship form -->
                              <template v-slot:header>
                                <v-card outlined color="lime lighten-5">
                                  <v-card-title class="subtitle-2">
                                    <v-icon left>mdi-link</v-icon>
                                    {{ _("Relationship Information") }}
                                  </v-card-title>
                                  <v-card-text>
                                    <div>
                                      <div class="caption">{{ _("Probability") }}
                                      </div>
                                      <v-chip-group
                                        v-model="editedItem.incident_relations[index].probability"
                                        column active-class="primary dark">
                                        <v-chip v-for="r in translations.probs"
                                          small> ${ r.tr }
                                        </v-chip>
                                      </v-chip-group>
                                      <div class="caption">{{ _("Related As") }}
                                      </div>
                                      <v-chip-group
                                        v-model="editedItem.incident_relations[index].related_as"
                                        column multiple
                                        active-class="primary dark">
                                        <v-chip v-for="rel in otoiInfo"
                                          :value="rel.id" :key="rel.id" small>
                                          ${
                                          rel.title }
                                        </v-chip>
                                      </v-chip-group>
                                    </div>
                                    <v-text-field class="mt-2"
                                      v-model="editedItem.incident_relations[index].comment"
                                      dense outlined label="{{ _('Comments') }}">
                                    </v-text-field>
                                  </v-card-text>
                                </v-card>
                              </template>
                              <template v-slot:actions>
                                <v-btn class="mx-auto"
                                  @click="removeIncident($event,index)" x-small fab
                                  outlined color="red lighten-3">
                                  <v-icon>mdi-delete-sweep</v-icon>
                                </v-btn>
                              </template>
                            </incident-result>
                          </v-flex>
                        </v-layout>
                      </v-card-text>
                    </v-card>
                  </v-col>
                </v-row>

                <!-- Administrative Information -->
                <span class="anchor" id="administrative-information"></span>
                <h2 class="form-section-header">{{ _("Administrative Information") }}</h2>
                <v-row>
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model="get_formatted_created_at_datetime"
                      label="{{ _('Date Created') }}"
                      prepend-icon="mdi-calendar"
                      disabled> </v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-select :disabled="statusDisabled" item-text="tr" item-value="en" :items="statusItems" v-model="editedItem.status"
                      label="{{ _('Status') }}">
                    </v-select>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-autocomplete v-if="statusForbidsAssignment" label="{{ _('Assigned To') }}" :disabled="true"
                      prepend-inner-icon="mdi-magnify" item-color="secondary"></v-autocomplete>
                    <validation-provider v-else-if="statusRequiresAssignment" name="Assigned To" rules="required" v-slot="{ errors }">
                      <v-autocomplete :value="editedItem.assigned_to" @input="assignItemByUserId" label="{{ _('Assigned To') }}"
                        :items="users" item-text="name" item-value="id" :disabled="false" prepend-inner-icon="mdi-magnify"
                        hide-no-data no-filter small-chips clearable :return-object="false" item-color="secondary"></v-autocomplete>
                      <span class="red--text">${errors[0]}</span>
                    </validation-provider>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="4">
                    <v-autocomplete v-else :value="editedItem.assigned_to" @input="assignItemByUserId" label="{{ _('Assigned To') }}"
                      :items="users" item-text="name" item-value="id" :disabled="false" prepend-inner-icon="mdi-magnify" hide-no-data
                      no-filter small-chips clearable :return-object="false" item-color="secondary"></v-autocomplete>
                    <search-field v-if="has_role(currentUser, 'Mod') || has_role(currentUser, 'DA')"
                      api="/admin/api/roles/?custom=true&my_roles_only=true" item-text="name" item-value="id" :multiple="true"
                      label="{{ _('Access Roles') }}" v-model="editedItem.roles">
                    </search-field>
                    <search-field v-else-if="has_role(currentUser, 'Admin')" api="/admin/api/roles/?custom=true" item-text="name"
                      item-value="id" :multiple="true" label="{{ _('Access Groups') }}" v-model="editedItem.roles">
                    </search-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <validation-provider name="Comments" rules="required" v-slot="{ errors }">
                      <v-textarea outlined rows="7" v-model="editedItem.comments"
                        hint="{{ _('Every time the Primary Record is updated, the user must provide a comment about the nature of the update. These comments are saved as part of the Primary Record history.')}}"
                        persistent-hint>
                        <template #label>
                          {{ _("Comments") }} <span
                            class="red--text"><strong>*</strong></span>
                        </template>
                      </v-textarea>
                      <span class="red--text">${errors[0]}</span>
                    </validation-provider>
                  </v-col>
                </v-row>
                <v-row v-if="editedItem.review">
                  <v-col cols="12" md="12">
                    <v-card color="light-green lighten-5" elevation="0">
                      <v-card-title class="subtitle-2">Review</v-card-title>
                      <v-card-text>
                        <p v-html="editedItem.review"></p>
                      </v-card-text>
                    </v-card>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-sheet>
    </v-card>
  </v-dialog>
</validation-observer>
